body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: top-center;
    background-image: url(https://p1.pxfuel.com/preview/397/265/208/nature-sky-clouds-blue.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
}

.container {
    max-width: max-content;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: transparent;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#weatherInfo {
    background-color: rgba(10, 9, 9, 0.5);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: white;
    font-size: 30px;
    align-content: center;
    font-weight: 500;
    margin-top: 20px;
}